/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task,
.item__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.add-task__container {
  display: flex;
}
.items-list {
  margin:0;
  padding: 0px;
}
.items-list__item {
  list-style:none;
}
.input,
.btn{
  outline:none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.add-task__label,
.main__subtitle {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input:focus {
  color: #333;
}

/* New Task */
.add-task__label {
  display: block;
  margin: 0 0 20px;
}
.add-task__input {
  width: 318px;
}

/* Task list */
.items-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-list__item > * {
  vertical-align: middle;
}

.items-list__item-check {
  margin: 0 10px;
}
.items-list__item-lbl {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.items-list__item-input {
  width: 226px
}
.btn__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .items-list__item-lbl {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.items-list__item-input {
  display:none
}

.item__edit .items-list__item-input {
  display:inline-block;
  width:224px
}

.item__edit .items-list__item-lbl {
  display:none;
}